body {
    font-family: American Typewriter;
    background-color: lightblue;
    margin: 0;
}
img {
    width: 250px;
}
h1, a {
    text-align: center;
}

a {
    margin-top: 50px;
    color: black
}

.Container {
    width: 100%;
    text-align: center;
}
