body {
    background-color: lightblue;
    font-family: American Typewriter;
}

.Center {
    width: 100%;
    text-align: center;
}

.Container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.fiftyp {
    width: 50%;
    float: left;
}

#innerContainer {
    width: 100%;
}
#inputs {
    list-style: none;
}
